html,
body {
  height: 100%;
  margin: 0;
}

#container {
  overflow: hidden;
}

.v8-deopt-marker-margin {
  background: red;
}

.v8-deopt-marker-inline {
  display: inline-block;
  width: 15px;
}

.v8-deopt-marker-content-widget {
  box-sizing: border-box;
  height: 19px;
  width: 16px;
  margin-left: -14px;
  color: #4cb5ff;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
}

.v8-deopt-marker-content-widget:hover,
.v8-deopt-marker-content-widget:focus {
  border: 1px solid red;
}

.v8-deopt-marker-content-widget.active {
  background-color: yellow;
  border: 1px solid blue;

  /* width: 20px; */
  /* height: 20px; */
  /* margin-left: -16px; */
  /* padding-left: 2px; */
}
